body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #f55e5e;
  }
  
  p {
    color: #141922;
  }
  
  a {
    color: #7f0ab6;
    text-decoration: none;
  }
  
  header {
    background-image: url("https://media2.giphy.com/media/3o7abwbzKeaRksvVaE/giphy.gif?cid=ecf05e473xwuix3jd63rjqpu8tf706zti6c5kripobz6z5vg&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    padding: 40px 0 40px 0;
    text-align: center;
  }
  main {
    background-color: #848388;
    padding: 20px;
    margin: 20px;
  }
  
  footer {
    background-color: #5c4f4f;
    padding: 20px;
    text-align: center;
    color: #7a6767;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }